fastapi
starlette
# pydantic locked to resolve conflict between requirements and
# test-requirements.
pydantic==2.11.3
pydantic-settings
# aioboto3 locked as 13.4 upgrades boto3 to 1.36 (via aiobotocore), which
# introduced breaking changes for s3.
aioboto3==13.3
defusedxml
uvicorn[standard]
gunicorn
psycopg2
sqlalchemy
jsonschema
alembic
backoff
dramatiq[watch]
pycron
cryptography
repo-autoindex
fastpurge
idna
packaging
asgi-correlation-id
# Required by alembic but not resolved by pip-compile.
importlib-metadata
importlib-resources
# pip raises error that setuptools should be pinned in --require-hashes mode.
# So lock it here and add --allow-unsafe to pip-compile.
setuptools==80
# Test dependencies require an older version than the app dependency
click==8.1.8
