alabaster
black
coveralls
dataclasses;python_version<'3.7'
importlib-metadata
mock
more-itertools
mypy
packaging
pluggy
py
pylint
pyparsing
pytest-asyncio
pytest-cov
pytest-mock
pytest
six
sphinx
wcwidth
zipp
flake8
docutils==0.15.2
urllib3==1.26.3
