alabaster
attrs
black
coveralls
dataclasses;python_version<'3.7'
importlib-metadata
mock
more-itertools
packaging
pluggy
py
pylint
pyparsing
pytest-asyncio
pytest-cov
pytest-mock
pytest
six
sphinx
wcwidth
zipp
