[Unit]
Description=exodus-gw uvicorn development server
Wants=network.target
After=network-online.target exodus-gw-db.service

[Service]
Environment=EXODUS_GW_HTTP_PORT=8000
Environment=EXODUS_GW_SRC_PATH=%h/src/exodus-gw
Environment=EXODUS_GW_DB_SERVICE_PORT=3355
Environment=EXODUS_GW_DB_SERVICE_HOST=localhost
Environment=EXODUS_GW_S3_ENDPOINT_URL=https://localhost:3377
Restart=on-failure

ExecStart=/bin/sh -c "cd ${EXODUS_GW_SRC_PATH}; \
 exec tox\
 -e dev-server\
 --\
 --port ${EXODUS_GW_HTTP_PORT}\
"
Type=exec

[Install]
WantedBy=exodus-gw.target
