# Service file for ensuring exodus-gw development cert & key exists.

[Unit]
Description=exodus-gw development cert

[Service]
Type=oneshot
ExecStartPre=mkdir -p %E/exodus-gw-dev

# Only run if one of the outputs is missing or empty.
ExecCondition=sh -c '! ( \
  test -s %E/exodus-gw-dev/ca.crt && \
  test -s %E/exodus-gw-dev/service.pem && \
  test -s %E/exodus-gw-dev/service-key.pem \
)'

ExecStart=sscg \
  --cert-file=%E/exodus-gw-dev/service.pem \
  --cert-key-file=%E/exodus-gw-dev/service-key.pem \
  --ca-file=%E/exodus-gw-dev/ca.crt \
  --subject-alt-name localhost \
  --force

ExecStartPost=cp \
  %E/exodus-gw-dev/service-key.pem \
  %E/exodus-gw-dev/db-service-key.pem

# private key file must be owned by the database user or root
# set postgres(999) as owner of the private key file for
# debian-based images, and postgres(70) as the owner of the
# private key file for alpine-based images.
ExecStartPost=/usr/bin/podman unshare \
  chown 70:70 %E/exodus-gw-dev/db-service-key.pem

[Install]
WantedBy=exodus-gw.target
